@model Fintechmonitor.Web.Models.CompaniesListViewModel
@{
    ViewBag.Title = "Companies - FintechMonitor";
}

<h1>Companies</h1>

<table class="table">
@foreach(var company in Model.List)
{
    var display = $"{company.Name} {company.City}, {company.City}";
    <p>@Html.ActionLink(display, "View", new { id = company.Id })</p>
}

