@model Fintechmonitor.Web.Models.CompaniesListViewModel
@{
    ViewBag.Title = "Companies - FintechMonitor";
}

<div class="panel-heading">
    <h3 class="panel-title">Companies</h3>
</div>
<div class="panel-body">
    @foreach (var company in Model.List)
    {
        var display = $"{company.Name} {company.City}, {company.City}";
        <p>@Html.ActionLink(display, "View", new { id = company.Id })</p>
    }    
</div>




