@model Fintechmonitor.Web.Models.CompanyViewModel
@{
    ViewBag.Title = Model.Name;
}

<div class="panel-heading">
    <h4 class="panel-title">@Model.Name</h4>
</div>
<div class="panel-body">
    <h3>Headquarters: @Model.City, @Model.Country</h3>
    <br />
    <p>@Model.AboutUs</p>
</div>
