<div class="main-heading">
    <div class="main-title">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active">Products</li>
        </ol>
    </div>
    <div class="main-filter">
        <form class="main-filter__search">
            <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control"><span class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        <div class="fa fa-search"></div>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
