<div class="container-fluid half-padding">
    <div class="datalist page page_products products float-right">
        <div class="row">
            @Html.Partial("_RightInfoPane")
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
