@model Fintechmonitor.Web.Models.CompanyViewModel

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="products-preview datalist-preview">
        <div class="products-preview__cont">
            <div class="products-preview__props">
                <div title="salary" class="products-preview__prop"><i class="fa fa-map-marker"></i><span class="products-preview__salary">@Model.City, @Model.Country</span></div>
                <div class="products-preview__prop"><i class="fa fa-user"></i><span class="products-preview__date">CEO</span></div>
                <div class="products-preview__prop"><i class="fa fa-heartbeat"></i><span class="products-preview__status">@Model.EmployeeSize Employees</span></div>
            </div>
            <div class="products-preview__note">Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis. Sed ante.</div>
        </div>
    </div>
</div>
