<div class="demo">
    <div class="demo__ico"></div>
    <div class="demo__cont">
        <div class="demo__settings">
            <div class="demo__group">
                <div class="demo__label">Color theme:</div>
                <div class="demo__themes">
                    <div data-css="css/right.dark.css" title="Dark" class="demo__theme demo__theme_active demo__theme_dark"></div>
                    <div data-css="css/right.lilac.css" title="Lilac" class="demo__theme demo__theme_lilac"></div>
                    <div data-css="css/right.light.css" title="Light" class="demo__theme demo__theme_light"></div>
                </div>
            </div>
        </div>
    </div>
</div>
