@{
    ViewBag.Title = "FintechMonitor - Home";
}

<div class="panel-heading">
    <h4 class="panel-title">FintechMonitor</h4>
</div>
<div class="panel-body">
    <p>Click on a link below:</p>

    <p>@Html.ActionLink("Latest News", "Latest", "News")</p>

    <p>@Html.ActionLink("Companies", "Index", "Companies")</p>
</div>