@model Fintechmonitor.Web.Models.NewsListViewModel
@{
    ViewBag.Title = "Latest News - FintechMonitor";
}

<div class="panel-heading">
    <h4 class="panel-title">Latest News</h4>
</div>
<div class="panel-body">
    @foreach (var newsItem in Model.List)
    {
        <dl class="dl-horizontal">
            <dt>@newsItem.DateTime.ToShortDateString()</dt>
            <dd>@Html.ActionLink(@newsItem.Headline, "View", new { id = newsItem.Id })</dd>
        </dl>
    }
</div>

