@model Fintechmonitor.Web.Models.NewsItemViewModel
@{
    ViewBag.Title = Model.Headline;
}

<h1 class="text-primary">@Model.Headline</h1>
<h4>@Model.DateTime.ToLongDateString() | @Model.Type</h4>
<br />
<p>@Html.Raw(Model.BodyFormatted)</p>

